#Banco de Dados Local sendo Ignorado
db.sqlite3

#Arquivos Temporários gerados pelo Django
**/__pycache__/
*.py[cod]

#Arquivos de Configurações do VSCode
.vscode/

# Arquivos estáticos coletados
arquivos_producao/