* {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    font-family: sans-serif;

}

div {
    background-color: rgb(226, 229, 231);
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

h1 {
    background-color: inherit;
    margin-top: 20px;

}

h2 {
    background-color: inherit;
    margin-top: 10px;

}

p {
    background-color: inherit;
    margin: 10px;

}

a {
    background-color: inherit;
    text-decoration: none;

}

ul {
    background-color: inherit;

}

li {
    background-color: inherit;
    list-style-type: none;
    margin-top: 10px;

}

