{% extends 'master.html' %}

{% block title %}
    Lista de Usuários

{% endblock %}

{% block content %}
    <h1>Usuários Ativos no Site:</h1>

    <h2>Aqui, todos os usuários cadastrados estão listados</h2>

    <ul>
        <!-- Tags do Django para fazerem alguma lógica -->
        {% for usuario in usuarios %}
            <!--href no padrão django-->
            <li><a href="{% url 'detalhes' usuario.id %}">{{ usuario.nome }} - {{ usuario.idade }} anos</a></li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'index' %}">Voltar à página inicial</a></p>

{% endblock %}