<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Site - Lista de Usuários</title>
</head>
<body>
    <h1>Usuários Ativos no Site:</h1>

    <h2>Aqui, todos os usuários cadastrados estão listados</h2>

    <ul>
        <!-- Tags do Django para fazerem alguma lógica -->
        {% for usuario in usuarios %}
            <li><a href="detalhes.html">{{ usuario.nome }} - {{ usuario.idade }} anos</a></li>
        {% endfor %}
    </ul>

</body>
</html>